h1 {
    color: black;
    font-size: 40px;
    display: flex;
    margin-bottom: 0;
    height: 60px;
  }

  .temperature{
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 10px;
  }
  .input-group{
    margin-top:20px;
  }
  #date{
    display:flex;
    justify-content: center;
  }
  #container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }
  #main-content{
    width: 50%;
  }
  .container-weather-data{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 0 0;
  }
  .wheater-data{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  #city{
    font-size: 30px;
  }